sqlalchemy
pydantic-settings
pandas
yfinance
passlib
python-jose
alembic
fastapi
taskipy
uvicorn
pytest
httpx
python-multipart
numpy
plotly
nbformat
mkdocs
mkdocstrings-python
pygments
mkdocs-material
pymdown-extensions
mkdocs-bootstrap386
mkdocs-mermaid2-plugin
bcrypt
argon2_cffi
ipykernel
matplotlib